<div class="footer-distributed">
  <div class="footer-left">
    <img src="assets/logo/jardin1.png" class="img-fluid" height="60" width="60">
    <h3> Mon jardin en ville</h3>
    <p class="footer-links">
      <a routerLink="home">Acceuil</a> ·
      <a routerLink="contributions">Contributions</a> ·
      <a routerLink="utilisateurs">Utilisateurs</a> ·
      <log-modal class="nav-link"></log-modal>
    </p>
    <p class="footer-company-name">Natural Solution &copy; 2017</p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>68 Rue Sainte,</span> 13001, Marseille</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>04 91 72 00 26</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:contact@natural-solutions.com">contact @ natural-solutions.eu</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span> Natural Solutions est une agence digitale spécialisée dans l'innovation pour l'environnement.
    </p>
    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>
  </div>
</div>

