<div *ngIf="!poiLoaded">
    <loader></loader>
</div>
<div *ngIf="poiLoaded" class="container title">
    <h2 style="margin-bottom: 0px"><img src="assets/logo/general_types/3-park_garden_100x100.png " class="img-fluid"> {{poi.name}}</h2>
</div>
<div *ngIf="poiLoaded && userLoaded" class="container">
    <details-gallery [user]="user" [pois]="poi"></details-gallery>
    <description [pois]="poi" (desc)="newDesc($event)"></description>
    <details-info [pois]="poi" (info)="newInfo($event)"></details-info>
    <comments [comments]="poiComments"  (commentId)="deleteComment($event)"(com)="newCom($event)"></comments>
    <history></history>
</div>