  <img class="img-fluid" src="assets/users1.jpg"  width="100%"/>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
     
            <div *ngIf="isLoading">
              <loader></loader>
            </div>
            <div *ngFor="let item of users | paginate: { itemsPerPage: 4, currentPage: p }">
              <user [data]="item"></user>
            </div>
            <pagination-controls class="my-pagination" (pageChange)="p = $event" nextLabel="Suivant" previousLabel="précédent"></pagination-controls>
          
        
    </div>

  
  </div>