.card{
    margin-bottom: 10px;
}
.media-object {
            border-radius: 10px;           
          }
.col-sm-8{
border-right-style: inset;
}
    
round-progress{
    margin: auto
}
img{
    border-radius: 10px
}
.percent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
    text-align: center;
    color: gray
}
