<div class="float-right modif">
  Modifier
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x " style="color:brown"></i>
    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i> 
  </span>
</div>
<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
<div class="media my-3">
  <img class="rounded-circle mr-2" src="http://lorempixel.com/80/80/people?random=3" height="45px" width="45px">
  <div class="media-body">
    <p>Contributeur {{user.name}} 26 juin 2017</p>
  </div>
</div>