
.media-left {
              margin-right: 20px;
                    }
                    .card.card-info{
                          background-color: #ddd;
                              border-color: #ccc;
                    }