<router-outlet></router-outlet>
<div class="fold2">
  <div class="container-fluid">
    <div class="row align-items-end text-center">
      <div class="col-sm-4 ">
        <img class="img-fluid" src="assets/baladez.png" />
      </div>
      <div class="col-sm-4 ">
        <img class="img-fluid" src="assets/contribuez.png" />
      </div>
      <div class="col-sm-4 ">
        <img class="img-fluid" src="assets/validez.png" />
      </div>
    </div>
    <div class="row align-items-end text-center">
      <div class="col-sm-4 ">
        <p class="textTitle">Baladez</p>
      </div>
      <div class="col-sm-4 ">
        <p class="textTitle">Contribuez</p>
      </div>
      <div class="col-sm-4 ">
        <p class="textTitle">validez</p>
      </div>
    </div>
    <div class="row align-items-start text-center">
      <div class="col-sm-4  ">
        <p class="textbody">qui ipsa animi nostrum praes entium odit qui non impedit cum qui nostrum aliquid fuga explic abovol uptatem fugit
          earum voluptas temporibus nesse inventore </p>
      </div>
      <div class="col-sm-4 ">
        <p class="textbody">qui ipsa animi nostrum praes entium odit qui non impedit cum qui nostrum aliquid fuga explic abovol uptatem fugit
          earum voluptas temporibus dignissimos nesse inventore </p>
      </div>
      <div class="col-sm-4 ">
        <p class="textbody">qui ipsa animi nostrum praesentium voluptatibus odit qui non impedit cum qui nostrum aliquid fuga explic abovol uptatem
          fugit earum
        </p>
      </div>
    </div>
  </div>
</div>
<div class="fold3">
  <div class="container-fluid">
    <div class="row justify-content-center text-center">
      <div class="col-md-12">
        <h3 class="tilteCard">derniéres contributions ajoutées</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="assets/img_poi/img34.jpg" height="250px" alt="Card image cap">
          <div class="card-block">
            <h3 class="card-title">Parc Borely</h3>
            <p class="card-text">17 Avenue du Prado 13008</p>
            <p class="card-text"><img src="assets/logo/general_types/3-park_garden_100x100.png" width="50px" class="img-fluid img_card">PARC ET JARDIN</p>
            <a href="#" class="btn btn-secondary pull-right">Voir +</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="assets/img_poi/img35.jpg" height="250px" alt="Card image cap">
          <div class="card-block">
            <h3 class="card-title">Parc Borely</h3>
            <p class="card-text">17 Avenue du Prado 13008</p>
            <p class="card-text"><img src="assets/logo/general_types/3-park_garden_100x100.png" width="50px" class="img-fluid img_card">PARC ET JARDIN</p>
            <a href="#" class="btn btn-secondary pull-right">Voir +</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="assets/img_poi/img36.jpg" height="250px" alt="Card image cap">
          <div class="card-block">
            <h3 class="card-title">Parc Borely</h3>
            <p class="card-text">17 Avenue du Prado 13008</p>
            <p class="card-text"><img src="assets/logo/general_types/3-park_garden_100x100.png" width="50px" class="img-fluid img_card">PARC ET JARDIN</p>
            <a href="#" class="btn btn-secondary pull-right">Voir +</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <a class="btn btn-outline-secondary" routerLink="contributions" (click)="click()" >Voir toutes les contributions</a>
    </div>

  </div>
</div>
