<ng-template #register let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">INSCRIPTION</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
       </div>
     <ngb-alert class="alert" *ngIf="succses" > vous êtes bien enregistré </ngb-alert>
   <form  #form="ngForm" (submit)= "form.valid &&change(form)">
  <div class="modal-body">
 
           <div class="form-group" [class.has-danger]="firstName.invalid && firstName.touched">
                <label for="firstName" class="form-control-label">Prénom</label>
                <input type="firstName" class="form-control" ngModel #firstName="ngModel" name="firstName" required id="firstName">
            </div>
            <div class="form-group" [class.has-danger]="LastName.invalid && LastName.touched">
                <label for="LastName" class="form-control-label">Nom</label>
                <input type="LastName" class="form-control" ngModel #LastName="ngModel" name="LastName" required id="LastName">
            </div>
            <div class="form-group" [class.has-danger]="email.invalid && email.touched">
                <label for="email" class="form-control-label">Adresse email</label>
                <input type="email" class="form-control" ngModel #email="ngModel" name="email" required id="email">
            </div>
             <div class="form-group" [class.has-danger]="pwd.invalid && pwd.touched">
                <label for="pwd" class="form-control-label">Mot de passe</label>
                <input type="password" class="form-control" ngModel #pwd="ngModel"  name="password" required id="pwd">
            </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-secondary">S'inscrire</button>
  </div>
  </form>
</ng-template>

<div (click)="open(register)">S'inscrire</div>
